<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FestManager_Bestellung.Properties.Settings.connectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data\FestManager.mdb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
