<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FestManager_Bestellung.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FestManager_Bestellung.Properties.Settings.connectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data\FestManager.mdb" />
  </connectionStrings>
  <userSettings>
    <FestManager_Bestellung.Properties.Settings>
      <setting name="organisation" serializeAs="String">
        <value>FF-Karlstetten</value>
      </setting>
      <setting name="printDirektverkaufTwice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="tableNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="printTwice" serializeAs="String">
        <value>True</value>
      </setting>
    </FestManager_Bestellung.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
