<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FestManager_Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FestManager_Core.Properties.Settings.connectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\fest2015.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <FestManager_Core.Properties.Settings>
            <setting name="printDirektverkaufTwice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="direktverkaufPersonalId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="direktverkaufAusgabestelleId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="organisation" serializeAs="String">
                <value>FF-Karlstetten</value>
            </setting>
            <setting name="printStornoOrders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stornoSymbol" serializeAs="String">
                <value>†</value>
            </setting>
            <setting name="groupElementsBeforePrint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="einpackenSymbol" serializeAs="String">
                <value>⌂</value>
            </setting>
            <setting name="tableNumbers" serializeAs="String">
                <value>True</value>
            </setting>
        </FestManager_Core.Properties.Settings>
    </userSettings>
</configuration>